body {
  padding-top: 60px;
  padding-bottom: 40px;
  background: url('../img/bg.png');		
}
.sidebar-nav {
  padding: 9px 0;
}
.navbar-inner {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #00260e;
  background-image: -moz-linear-gradient(top, #134024, #00260e);
  background-image: -ms-linear-gradient(top, #134024, #00260e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#134024), to(#00260e));
  background-image: -webkit-linear-gradient(top, #134024, #00260e);
  background-image: -o-linear-gradient(top, #134024, #00260e);
  background-image: linear-gradient(top, #134024, #00260e);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}
.navbar .brand {
  float: left;
  display: block;
  padding: 8px 20px 12px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  line-height: 1;
  color: #ffffff;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 10px 11px;
  line-height: 19px;
  font-size: 13px;
  color: #d3d3d3;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
  background-color: transparent;
  color: #ffffff !important;
  text-decoration: none;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #222222;
  background-color: rgba(0, 0, 0, 0.5);
}
.navbar .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 0 9px;
  overflow: hidden;
  background-color: #00260e;
  border-right: 1px solid #134024;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #51A351;
}
a {
  color: #51A351;
}
a:hover {
  color: #00260e;
}
.nav-list > .active > a,
.nav-list > .active > a:hover {
  background-color: #51A351;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  background-color: #51A351;
}
.dropdown-menu .nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
span.user-actions, td div.btn-group {
  visibility: hidden;
}
table {
  background-color: #fdfdfd;
}
tr.pending-user:hover span.user-actions, tr.list-users:hover td div.btn-group, tr.list-roles:hover td div.btn-group {
  visibility:visible;
}

/*
 * Responsive table
 */
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {
	.table th, .table td {
	  padding-left: 50%;
	  border-top:0;
	}
	table, thead, tbody, th, td, tr {
	  display: block;
	}
	thead tr {
	  position: absolute;
	  top: -9999px;
	  left: -9999px;
	}
	tr {
	  border: 1px solid #ccc;
	}
	td {
	  border: none;
	  border-bottom: 1px solid #eee;
	  position: relative;
	  padding-left: 50%;
	}
	td:before {
	  position: absolute;
	  top: 6px;
	  left: 6px;
	  width: 45%;
	  padding-right: 10px;
	  white-space: nowrap;
	}
	.list-users td:nth-of-type(1):before { content: "序号"; }
	.list-users td:nth-of-type(2):before { content: "账号"; }
	.list-users td:nth-of-type(3):before { content: "姓名"; }
	.list-users td:nth-of-type(4):before { content: "openid"; }
	.list-users td:nth-of-type(5):before { content: "name"; }
	.list-users td:nth-of-type(6):before { content: "face"; }
	.list-users td:nth-of-type(7):before { content: "sex"; }
	.list-users td:nth-of-type(8):before { content: "学校"; }
    .list-users td:nth-of-type(9):before { content: "push"; }
    .list-users td:nth-of-type(10):before { content: "push_time"; }
    .list-users td:nth-of-type(11):before { content: "status"; }
    .list-users td:nth-of-type(12):before { content: "create_tome"; }
    .list-users td:nth-of-type(13):before { content: "编辑"; }
    .list-admin td:nth-of-type(1):before { content: "序号"; }
    .list-admin td:nth-of-type(2):before { content: "账号"; }
    .list-admin td:nth-of-type(3):before { content: "姓名"; }
    .list-admin td:nth-of-type(4):before { content: "电话"; }
    .list-admin td:nth-of-type(5):before { content: "学校"; }
    .list-admin td:nth-of-type(6):before { content: "权限"; }
    .list-admin td:nth-of-type(7):before { content: "创建时间"; }
    .list-admin td:nth-of-type(8):before { content: "最后登录"; }
    .list-admin td:nth-of-type(9):before { content: "编辑"; }
	.borrow-info td:nth-of-type(1):before { content: "序号"; }
	.borrow-info td:nth-of-type(2):before { content: "ISBN"; }
	.borrow-info td:nth-of-type(3):before { content: "标题"; }
	.borrow-info td:nth-of-type(4):before { content: "作者"; }
	.borrow-info td:nth-of-type(5):before { content: "出版社"; }
    .borrow-info td:nth-of-type(6):before { content: "馆藏"; }
    .borrow-info td:nth-of-type(7):before { content: "可借"; }
    .borrow-info td:nth-of-type(8):before { content: "详细"; }
    .latest-borrowing td:nth-of-type(1):before { content: "序号"; }
    .latest-borrowing td:nth-of-type(2):before { content: "账号"; }
    .latest-borrowing td:nth-of-type(3):before { content: "姓名"; }
    .latest-borrowing td:nth-of-type(4):before { content: "学院"; }
    .latest-borrowing td:nth-of-type(5):before { content: "班级"; }
    .latest-borrowing td:nth-of-type(6):before { content: "借阅图书"; }
    .latest-borrowing td:nth-of-type(7):before { content: "借阅时间"; }
    .latest-borrowing td:nth-of-type(8):before { content: "归还时间"; }
    .list-user-book-detail td:nth-of-type(1):before { content: "序号"; }
    .list-user-book-detail td:nth-of-type(2):before { content: "借阅图书"; }
    .list-user-book-detail td:nth-of-type(3):before { content: "借阅时间"; }
    .list-user-book-detail td:nth-of-type(4):before { content: "归还时间"; }
    .list-user-book-detail td:nth-of-type(5):before { content: "详情"; }
    .list-user-detail td:nth-of-type(1):before { content: "账号"; }
    .list-user-detail td:nth-of-type(2):before { content: "姓名"; }
    .list-user-detail td:nth-of-type(3):before { content: "学校"; }
    .list-user-detail td:nth-of-type(4):before { content: "openid"; }
    .douban-list td:nth-of-type(1):before { content: "id"; }
    .douban-list td:nth-of-type(2):before { content: "bookid"; }
    .douban-list td:nth-of-type(3):before { content: "title"; }
    .douban-list td:nth-of-type(4):before { content: "image"; }
    .douban-list td:nth-of-type(5):before { content: "rating"; }
    .douban-list td:nth-of-type(6):before { content: "address"; }
    .douban-list td:nth-of-type(7):before { content: "status"; }

    .book-list td:nth-of-type(1):before { content: "status"; }
    .book-list td:nth-of-type(2):before { content: "status"; }
    .book-list td:nth-of-type(3):before { content: "status"; }
    .book-list td:nth-of-type(4):before { content: "status"; }
    .book-list td:nth-of-type(5):before { content: "status"; }
    .book-list td:nth-of-type(6):before { content: "status"; }
    .book-list td:nth-of-type(7):before { content: "status"; }
    .book-list td:nth-of-type(8):before { content: "status"; }
    .book-list td:nth-of-type(9):before { content: "status"; }
    .book-list td:nth-of-type(10):before { content: "status"; }
    .book-list td:nth-of-type(11):before { content: "status"; }
    .book-list td:nth-of-type(12):before { content: "status"; }
    .book-list td:nth-of-type(13):before { content: "status"; }
    .book-list td:nth-of-type(14):before { content: "status"; }
    .book-list td:nth-of-type(15):before { content: "status"; }
    .book-list td:nth-of-type(16):before { content: "status"; }
    .book-list td:nth-of-type(17):before { content: "status"; }
    .book-list td:nth-of-type(18):before { content: "status"; }





}